<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{CustomerAccounts.customer_name}}</title>
</head>
<body>
    <p>{{CustomerAccounts.Customer_id}}</p>
    <p>{{CustomerAccounts.paymethod}}</p>
    <p>All CustomerAccounts</p>
    <table>
        <thead>
            <tr>
                <th style="border: 1px solid black">Id</th>
                <th style="border: 1px solid black">Customer Name</th>
                <th style="border: 1px solid black">Paymethod</th>
            </tr>
        </thead>
        <tbody>
            {% for capsule_id in list_of_CustomerAccounts %}
            <tr>
                <td style="border: 1px solid black">{{CustomerAccounts.customer_id}}</td>
                <td style="border: 1px solid black">{{CustomerAccounts.customer_name}}</td>
                <td style="border: 1px solid black">{{CustomerAccounts.paymethod}}</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
</body>
</html>